@model Dental_App.Models.Appointment
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <img src="~/Images/Various/assist.jpg" align="left" height="150" width="135" />
<hr />

<p class="h3">Dziękujemy za umówienie wizyty @UserManager.GetUserAsync(User).Result.FirstName</p>

<br />

<p class="h4">Podsumowanie Twojej wizyty </p>
<hr />
<br />
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentFinish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentFinish)
        </dd>
    </dl>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

